@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --game-red: #e20032;
  --game-blue: #3e96ec;
  --game-green: #5f6f27;
  --game-normal: #7a6955;
  --game-font-color: #9f7c59;
  --game-primary-color: #1d2020;
  --game-border-color: #ae9783;
}

:root {
  --ui-text: var(--game-primary-color);
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

div[data-reka-popper-content-wrapper] {
  z-index: 114514 !important;
}

.font-cuyuan {
  font-family: 'JianShouMengWaCuYuan-2';
}

.text-light {
  text-shadow: 1px 1px 1px #ffffff8f;
}

.game-popover {
  overflow: hidden;
  box-shadow: 0px 0px 4px 2px #34260a99;
}

.game-avatar {
  border-radius: 0;
  background-color: #ddc9a9;

  img {
    user-select: none;
    -webkit-user-drag: none;
  }
}

.game-input {
  > input {
    padding: 4px;
    background-color: #f4e9d6;
    border-radius: 0;
    box-shadow: 0 0 0 1px #ae9783;

    &:focus-visible {
      box-shadow: 0 0 0 1px #432410;
    }

    &::placeholder {
      color: #c3b4a0;
    }
  }

  span.inset-y-0 {
    padding-inline-end: 2px;
  }

  .iconify {
    color: #432410;
  }
}

.game-checkbox {
  button {
    border-radius: 0;
    background-color: #f7ede3;
    box-shadow: 0 0 0 1px #ae9783;

    span[data-state='checked'] {
      color: var(--game-primary-color);
      background-color: unset;
    }
  }
}

.game-tabs {
  gap: 0;
  background: #f3eee9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 0px 1px 1px #ebdbc6;

  > div {
    background-color: unset;
  }

  [data-state='active'] > span {
    color: var(--game-font-color);
    font-size: 13px;
  }

  [data-state='inactive'] > span {
    color: #b3b2b2;
    font-size: 13px;
  }

  div.bg-primary {
    background-color: #fff;
  }
}

.shadow-hard {
  box-shadow: 0px 0px 4px 2px #34260a99;
}

.bg-texture {
  background-image: url(~/assets/texture.webp);
  background-repeat: repeat;
  background-size: 46px;
}
