@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  /* ===== 红 ===== */
  --color-bland-red-500: #e20032;
  --color-bland-red-400: #ff0038;
  --color-bland-red-450: #e31839;
  --color-bland-red-350: #f40032;
  --color-bland-red-300: #d2012f;
  --color-bland-red-200: #ff849f;

  /* ===== 绿 ===== */
  --color-bland-green-700: #4f5d1c;
  --color-bland-green-600: #5f6f27;
  --color-bland-green-500: #6b7d2b;
  --color-bland-green-300: #99a766;

  /* ===== 蓝 ===== */
  --color-bland-blue-700: #3782ce;
  --color-bland-blue-600: #3e96ec;
  --color-bland-blue-500: #00a2ff;
  --color-bland-blue-450: #49a4ff;
  --color-bland-blue-300: #6aacee;

  /* ===== 暖棕 ===== */
  --color-wood-900: #1d2020;
  --color-wood-800: #766746;
  --color-wood-700: #804b19;
  --color-wood-650: #b08149;
  --color-wood-600: #774a1a;
  --color-wood-500: #995d11;
  --color-wood-450: #a46000;
  --color-wood-400: #9f7c59;
  --color-wood-350: #ad8665;
  --color-wood-300: #7a6955;
  --color-wood-200: #ae9783;
  --color-wood-100: #c5630e24;

  /* ===== 自然 ===== */
  --color-surface-900: #c2b598;
  --color-surface-800: #c9bc9c;
  --color-surface-700: #d6c9a7;
  --color-surface-650: #cdb69b;
  --color-surface-600: #c3b4a0;
  --color-surface-550: #ddc9a9;
  --color-surface-500: #ecd3c1;
  --color-surface-450: #eeddcb;
  --color-surface-400: #eae0d0;
  --color-surface-300: #e6e3e1;
  --color-surface-200: #f7ebdf;
  --color-surface-150: #efc189;

  /* ===== 棕-透明 ===== */
  --color-tint-warm-700: #c5630e69;
  --color-tint-warm-300: #c5630e24;

  --color-tint-dark-500: #5035024d;
  --color-tint-dark-400: #6233004d;

  --color-tint-soft-400: #f1d0ae42;
  --color-tint-soft-300: #aa7b4c91;

  --color-tint-white: #ffffff2b;

  /* ===== 文本 ===== */
  /* --color-text-900: #1d2020;
  --color-text-800: #4f5d1c;
  --color-text-700: #7a6955;
  --color-text-600: #9f7c59;
  --color-text-500: #ad8665;
  --color-text-300: #ae9783; */

  --spacing-tight: 0.785rem;
  --text-sm2: 13px;
}

:root {
  --game-red: #e20032;
  --game-blue: #3e96ec;
  --game-green: #5f6f27;
  --game-normal: #7a6955;
  --game-font-color: #9f7c59;
  --game-primary-color: #1d2020;
  --game-border-color: #ae9783;
}

:root {
  --ui-text: var(--game-primary-color);
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

div[data-reka-popper-content-wrapper] {
  z-index: 114514 !important;
}

.font-cuyuan {
  font-family: 'JianShouMengWaCuYuan-2';
}

.text-light {
  text-shadow: 1px 1px 1px #ffffff8f;
}

.game-popover {
  overflow: hidden;
  box-shadow: 0px 0px 4px 2px #34260a99;
}

.game-tooltip {
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px #3c2c0c53;
  border: 1px solid #412511;
  border-radius: 2px;
  background-color: #dfcebc;
  padding: 4px;
  color: var(--game-primary-color);
}

.game-avatar {
  border-radius: 0;
  background-color: #ddc9a9;

  img {
    user-select: none;
    -webkit-user-drag: none;
  }
}

.game-input {
  > input {
    padding: 4px;
    background-color: #f4e9d6;
    border-radius: 0;
    box-shadow: 0 0 0 1px #ae9783;

    &:focus-visible {
      box-shadow: 0 0 0 1px #432410;
    }

    &::placeholder {
      color: #c3b4a0;
    }
  }

  span.inset-y-0 {
    padding-inline-end: 2px;
  }

  .iconify {
    color: #432410;
  }
}

.game-checkbox {
  button {
    border-radius: 0;
    background-color: #f7ede3;
    box-shadow: 0 0 0 1px #ae9783;

    span[data-state='checked'] {
      color: var(--game-primary-color);
      background-color: unset;
    }
  }
}

.game-tabs {
  gap: 0;
  background: #f3eee9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 0px 1px 1px #ebdbc6;

  > div {
    background-color: unset;
  }

  [data-state='active'] > span {
    color: var(--game-font-color);
    font-size: 13px;
  }

  [data-state='inactive'] > span {
    color: #b3b2b2;
    font-size: 13px;
  }

  div.bg-primary {
    background-color: #fff;
  }
}

.shadow-hard {
  box-shadow: 0px 0px 4px 2px #34260a99;
}

.bg-texture {
  background-image: url(~/assets/texture.webp);
  background-repeat: repeat;
  background-size: 46px;
}

.sprites-icon {
  background-image: url('~/assets/icons/navicon-sprites.webp');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: transparent;
  --sprites-index: 0;
}
